# Docker
docker/.env

# Build output
bin/
obj/

# Visual Studio
.vs/

# VS Code
.vscode/

# Rider
.idea/

# User files
*.user
*.suo

# Logs
*.log

# Misc files
.DS_Store
**/appsettings.Development.json